button {
  margin-top: 20px;
}



.tableContainer {
  margin-right: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.tableHeader > h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary);
}

.tableBody > tr > td > button {
  margin-top: 20px;
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  color: #616161;
  border-bottom: solid 1px #d8d8d8;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: center;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.btnsContainer {
  display: flex;
}

.btnAdd {

}

.handlePrevRegBtns {
  margin-left: auto;
  margin-bottom: 5px;
}

.handlePrevRegBtns > button {
  margin-right: 10px;
}