.content {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.dataContainer {
  display: flex;
}

.tableContainer {
  flex: 2;
}

.tableContainer, .chartsContainer, .logsContainer {
  border-radius: 10px;
  padding: 10px;
  background-color:#f3f3f3;
  display: flex;
  flex-direction : column;
  margin: 10px;
}

.tableContainer > button {
  margin-left: auto;
  margin-top: 14px;
  margin-bottom: 5px;
}

.tableContainer > h2 {
  color: #616161;
  align-self: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.chartsContainer {
  padding: 0;
  flex: 1;
  background-color: #31C1CC;
  justify-content: space-between;
}

.chartsContainer > div {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  border-radius: 10px;
  height: 49%;
}

.logsContainer {
  height: 100%;
}
