.content {
  width: 100%;
  min-height: 100vh;
  background-color: #31C1CC;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 240px calc(100vw - 255px);
  grid-template-areas:
    'header header'
    'nav content';
}

.content > main {
  grid-area: content;
}

.header {
  grid-area: header;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
}

.header > img { 
  width: 70px;
  height: 70px;
  margin-left: 50px;
}

.header > h2 {
  margin-left: 5px;
  margin-top: 5px;
}

.navbar {
  grid-area: nav;
  background-color: #f3f3f3;
}

.navbar a {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  height: 40px;
}
