.regularBtn {
  background-color: #312e38;
  border: 1px solid #312e38;
  border-radius: 5px;
  color: white;
  padding: 14px;
  font-size: 12px;
  width: 80px;
  font-weight: 600;
}

.regularBtn:hover {
  background-color: white;
  color: #312e38;
  border: 1px solid #312e38;
}